*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
body{
    font-family: Arial, sans-serif;
    background-color: #b7b7f084;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.chat-container{
    width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
#chat-box{
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ede0e0;
    padding: 10px;
    margin-bottom: 10px;
}

button img{
    width: 15px;
    height: 15px;
}
.user-msg{
    color: blue;
    margin: 5px 0;
}
.bot-msg{
    color: green;
    margin: 5px 0;
}